body {
  background-color: white;
  background-repeat: repeat;
  #top {
    // width: 40%;
    // margin: 0 auto;
    // box-shadow: 2px 2px 4px;

    header {
      // width: 70%;
      margin: 0 auto;
      height: auto;
      background-color: rgba(255, 255, 255, 0.476);
      text-align: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      position: sticky;
      top: 0;
      z-index: 999; // (必要に応じて)
      h1 {
        padding: 30px;
        // margin-bottom: 30px;
        font-family: "Lilita One", cursive;
      }
      nav {
        padding: 4px;
        text-align: center;
        // background-color: rgba(255, 255, 255, 0.398);
        ul {
          margin-top: 30px;
          padding: 0;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          li {
            margin: 0px 30px;
            list-style: none;
            a {
              text-decoration: none;
              color: #333;
              padding: 10px;
            }
          }
          li:hover {
            border-bottom: 3px solid #ff7a37; /* 下線の太さや色を指定します */
          }
        }
      }
    }

    // #content-1 {
    //   width: 100%; /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    //   height: 100vh; /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    //   text-align: center;
    //   background-color: antiquewhite;
    // }
    #about {
      width: 100%; /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
      height: 100vh; /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
      text-align: center;
      background-image: url("../img/45degreee_fabric.webp");
      background-repeat: repeat;
      background-attachment: fixed; //スクロール時に固定。
      display: flex;
      justify-content: center;
      align-items: center;
      #box-about {
        h1 {
          font-size: 40px;
          padding: 20px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    #profile {
      width: 100%; /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
      height: 4000px; /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
      text-align: center;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      #luxy {
        #luxyTop {
          h2 {
            font-size: 100px;
            width: 100vw;
          }
        }
        img {
          width: auto;
          height: 700px;
        }
      }
    }
    #works {
      width: 100%; /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
      height: 100vh; /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
      text-align: center;
      background-image: url("../img/45degreee_fabric.webp");
      background-repeat: repeat;
      background-attachment: fixed; //スクロール時に固定。
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #contact {
      width: 100%; /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
      height: 70vh; /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
      text-align: center;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #thank-you {
      width: 100%; /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
      height: 30vh; /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
      display: grid;
      place-items: center;
      background-color: deepskyblue;
    }
  }
  footer {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    background-color: cornsilk;
  }
}
