body {
  background-image: url("../img/tiny-squares.webp");
  background-repeat: repeat;
  #top {
    // width: 40%;
    // margin: 0 auto;
    // box-shadow: 2px 2px 4px;

    header {
      width: 100%;
      height: auto;
      background-color: lightpink;
      text-align: center;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      h1 {
        padding: 40px;
        // margin-bottom: 30px;
        font-family: "Lilita One", cursive;
      }
      nav {
        padding: 10px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.398);
        ul {
          margin-top: 40px;
          padding: 0;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          li {
            margin: 0px 30px;
            list-style: none;
            a {
              text-decoration: none;
              color: #333;
            }
          }
          li:hover {
            border-bottom: 3px solid #ff7a37; /* 下線の太さや色を指定します */
          }
        }
      }
    }

    #content-1 {
      width: 100%;
      height: auto;
      min-height: 400px;
      text-align: center;
      background-color: antiquewhite;
    }
    #content-2 {
      width: 100%;
      height: auto;
      min-height: 400px;
      text-align: center;
      background-color: darkgray;
    }
    #content-3 {
      width: 100%;
      height: auto;
      min-height: 400px;
      text-align: center;
      background-color: honeydew;
    }
    #content-4 {
      width: 100%;
      height: auto;
      min-height: 400px;
      text-align: center;
      background-color: darksalmon;
    }
    #content-5 {
      width: 100%;
      height: auto;
      min-height: 400px;
      text-align: center;
      background-color: deepskyblue;
    }
  }
  footer {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    background-color: cornsilk;
  }
}
